.text {
    position: relative;
    font-size: 14px;
    color: black;
    width: 650px; /* Could be anything you like. */
  }
  
  .text-concat {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 300.6em; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
    text-align:justify;
  }

#myPicStyle{
    position:relative;float:right;margin:70px;margin-top:180px;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
}

#myProjectStyle{
    position:relative;float:right;margin-right:20px;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
}

#centerBlock{
    display: table;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px dotted #000000;
    display: flex;
    padding: 10px; 
    /* width: 200px; */
    height: 150px;  
  }

  details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    background-color:honeydew;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

test {
color: blue;
}

  